<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FindYourMusic</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style2.css') }}"> 
    </head>
    <body>
        <center>

        <h1>Find Your Music
        <br>
        - You have the Lyrics in your head with have the song in our Database -</h1>

        <p>You can choose the way of research</p>
        <p><strong>Research by :</strong></p>

        <button class="button button_Lyrics" onclick="searchL()">Lyrics</button>
        <button class="button button_Titles" onclick="searchT()">Titles</button>
        <button class="button button_Artists" onclick="searchA()">Artists</button>
        <br>
        <button class="button button_Random" onclick="random()">Random Song</button>

        <script>
            function searchL() {
                window.location.pathname = "/MusicbarLooker/lyrics";
            }
            function searchT() {
                window.location.pathname = "/MusicbarLooker/title";
            }
            function searchA() {
                window.location.pathname = "/MusicbarLooker/artist";
            }
            function random() {
                window.location.pathname = "/Random";
            }
        </script>
        <div class="footer">
            Théo Guerrois & Adrien Philippe
        </div>
        </center>
    </body>
</html>
